on early-init
    start ueventd

on init
    export PATH /sbin
    export LD_LIBRARY_PATH .:/sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc
    symlink /sbin/busybox /sbin/sh

    chmod 0755 /sbin/busybox

    mkdir /boot
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /datadata
    mkdir /emmc
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical
    
service choice_fn /sbin/choice_fn
    oneshot

service mfgsrv /sbin/mfgsrv -i -t /dev/ttyS0
    disabled

service dmesg /sbin/busybox dmesg -n 1
    oneshot    
    
service power_test /sbin/power_test
    disabled
    oneshot

service offmode_charging /sbin/offmode_charging
    oneshot

service detect_key /sbin/detect_key
    oneshot

service recovery /sbin/recovery
    disabled
    
service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
# In recovery, always run adbd as root.
on property:ro.debuggable=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    write /sys/class/android_usb/android0/iManufacturer $ro.product.manufacturer
    write /sys/class/android_usb/android0/iProduct $ro.product.model
    write /sys/class/android_usb/android0/iSerial $ro.serialno
    start adbd
    setprop service.adb.root 1

on property:ro.debuggable=1
    start adbd

on property:ro.debuggable=0
    stop adbd

service adbd /sbin/adbd recovery
    
on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

on property:service.adb.root=1
    write /sys/class/android_usb/android0/lun0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/lun0/enable 1    
    
on emmc

    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /devlog 0700 root root
    devwait emmc@system
    mount ext4 emmc@system /system rw data=ordered
    umount /system    
    
service rmt_storage /sbin/rmt_storage /dev/block/mmcblk0p13 /dev/block/mmcblk0p14
    user root
    disabled
    
on property:ro.emmc=1
    start rmt_storage

on property:ro.bootmode=power_test
   write /sys/module/pm2/modes/cpu0/standalone_power_collapse/suspend_enabled 1
   write /sys/module/pm2/modes/cpu1/standalone_power_collapse/suspend_enabled 1
   write /sys/module/pm2/modes/cpu0/power_collapse/suspend_enabled 1